
.right_home{
    width: 85%;
    min-height: 700px;
    background: rgba(237, 240, 243, 0.957);
    float: left;
}
.content_right {
    width: 90%;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.984);
    margin: 5%;
    box-shadow: 5px 5px 20px rgba(185, 185, 185, 0.539);
    display: flex;
    flex-direction: column;
}

.table_container {
    width: 90%;
    height: 90%;
    padding-left: 7%;
    padding-bottom: 3%;
}
.pencil-icon {
    margin-left: 5px;
    color: rgb(35, 35, 155);
}

.trash-icon {
    margin-left: 5px;
    color: rgba(172, 32, 32, 0.845);
}
.title_right{
    width: 100%;
    height: 50px;
    float: left;
}
.content_title{
    padding: 1%;
    width: 30%;
    height: 100%;
    float: left;
}
.button_create{
    margin-top: 1%;
    margin-left: 58.5%;
    float: left;
    width: auto;
    height: 100%;
}
.btn-success{
    width: 100px;
}
.bi-plus-circle-fill{
    margin-right: 5px;
}
.button-delete{
    background: red;
}

